{% extends 'layout.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/inscription.css" />
{% endblock %}

{% block title %}Inscription{% endblock %}

{% block content %}
<section class="form-container">
    <div class="form-wrapper">
        <form method="post" action="/inscription" enctype="multipart/form-data" class="form">  
            <h1 class="form-title">S'inscrire</h1>
            {% if error %}
                <p class="error">{{ error }}</p>
            {% endif %}
            <div class="input-container">
                <label for="name" class="label-title">Prénom</label>
                <input type="text" id="name" name="name" placeholder="Tapez votre prénom" required>
            </div>
            <div class="input-container">
                <label for="lastname" class="label-title">Nom</label>
                <input type="text" id="lastname" name="lastname" placeholder="Tapez votre nom" required>
            </div>
            <div class="input-container">
                <label for="mail" class="label-title">Email</label>
                <input type="email" id="mail" name="mail" placeholder="Tapez votre Email" required>
            </div>
            <div class="input-container">
                <label for="password" class="label-title">Mot de passe</label>
                <input type="password" id="password" name="password" placeholder="Tapez votre mot de passe" required>
            </div>   
            <div class="input-container">
                <label for="address" class="label-title">Adresse</label>
                <input type="text" id="address" name="address" placeholder="Tapez votre adresse" required>
            </div>
            <div class="input-container">
                <label for="birthday" class="label-title">Date de naissance</label>
                <input type="date" id="birthday" name="birthday" placeholder="Tapez votre date de naissance" required>
            </div>
            <div class="input-container">
                <label for="profile_picture" class="label-title">Photo de profil</label>
                <input type="file" id="profile_picture" name="profile_picture">
            </div>  
            <button type="submit" class="submit">S'inscrire</button>
            
        </form>
    </div>
</section>
{% endblock %}
