{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/admin.css"/>
{% endblock %}

{% block title %}Administration MidiATech
{% endblock %}

{% block content %}
<div class="container">
        <h1>Administration de la Médiathèque MidATech</h1>
        <ul>
            <li><a href="/admin/collections">Gestion des Collections</a></li>
            <li><a href="/admin/reservations">Gestion des Réservations</a></li>
            <li><a href="/admin/stocks">Gestion des Stocks</a></li>
        </ul>
    </div>
{% endblock %}
