{% extends 'layout.html.twig' %} {% block stylesheet %}
<link rel="stylesheet" href="/assets/css/index.css" />
{% endblock %} {% block title %}Administration MidiATech {% endblock %} {% block
content %}

<section class="return">
    <a href="/admin">Retour Administration</a>
</section>

<div class="container2">
    
    <h1>Gestion des catégories</h1>
    
    <section class="admin-links">
        <h2>Choix du Média</h2>
        <ul>
            <li><a href="/admin/categories/books">Books</a></li>
            <li><a href="/admin/categories/musics">Musics</a></li>
            <li><a href="/admin/categories/videos">Vidéos</a></li>
        </ul>
    </section>
</div>
<form action="/logout" method="post">
    <button type="submit">Se déconnecter</button>
</form>
{% endblock %}