{% extends 'layout.html.twig' %} {% block stylesheet %}
<link rel="stylesheet" href="/assets/css/stocks.css" />
{% endblock %} {% block title %}Gestion des Stocks{% endblock %} {% block
content %}
<div class="container2">
    <h1>Gestion des Stocks</h1>

    <h2>Liste des Médias</h2>
    <table>
        <thead>
            <tr>
                <th>Type</th>
                <th>Titre</th>
                <th>Auteur/Artiste</th>
                <th>Stock</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            {% for media in medias %}
            <tr>
                <td>{{ media.type }}</td>
                <td>{{ media.titre }}</td>
                <td>{{ media.auteur }}</td>
                <td>{{ media.stock }}</td>
                <td class="options">
                    <button class="modify-stock-btn">Modifier Stock</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
