<footer class="footer">
    <div class="footer-columns">
        <div class="footer-column">
            <h3>Contact</h3>
            <p>123 Rue Wild School Code</p>
            <p>59000 LILLE</p>
            <p>+33 1 23 45 67 89</p>
            <p><a href="mailto:contact@mediatheque.fr">contact@midiatech.fr</a></p>
        </div>
        <div class="footer-column">
            <h3>Suivez-nous</h3>
            <div class="social-icons">
            <a href="https://facebook.com" target="_blank"><img src="/assets/images/icones/facebook.png" alt="Facebook"></a>
            <a href="https://instagram.com" target="_blank"><img src="/assets/images/icones/instagram.png" alt="Instagram"></a>
            </div>
        </div>
        <div class="footer-column">
            <h3>Informations</h3>
            <a href="politique-confidentialite.html">Politique de confidentialité</a>
        </div>
    </div>

    <div class="footer-copyright">
        <p>&copy; 2024 MidiATech. Tous droits réservés.</p>
    </div>
</footer>