<button onclick="topFunction()" id="goToTop" title="Go to top">&#187;</button>

<header>
    <div class="container">
        <div class="logo">
            <a href="/"><img src="/../assets/images/logo.webp" alt="Midi a tech"></a>
            <h1>MIDI A TECH</h1>
        </div>

        <nav>
            <input id="menu-toggle" type="checkbox">
            <label class="menu-button-container" for="menu-toggle">
                <span class="menu-button"></span>
            </label>

            <ul class="menu">
                <li><a href="/">Accueil</a></li>
                <li><a href="/books">Livres</a></li>
                <li><a href="/musics">Musiques</a></li>
                <li><a href="/videos">Vidéos</a></li>
                <li class="mobile">
                    {% if app.userRole == 'user' %}
                        <a href="/account">Mon compte</a>
                    {% elseif app.userRole == 'admin' %}
                        <a href="/admin">Administration</a>
                    {% else %}
                        <a href="/login">Connexion</a>
                    {% endif %}
                </li>
                <li class="desktop">
                    {% if app.userRole == 'user' %}
                        <a href="/account"><i class="fa-regular fa-circle-user"></i></a>
                    {% elseif app.userRole == 'admin' %}
                        <a href="/admin"><i class="fa-regular fa-circle-user"></i></a>
                    {% else %}
                        <a href="/login"><i class="fa-regular fa-circle-user"></i></a>
                    {% endif %}
                </li>
            </ul>

        </nav>
    </div>
</header>
