
    <div id="overlay" class="overlay"></div>

    <div id="popup" class="popup">
        <button id="closePopupBtn" class="close-btn">&times;</button>
        <h2>Connexion</h2>
        <form method="post" action="/login" class="form_main" id="loginForm">
            <div class="inputContainer">
                <label for="email">Email</label>
                <input type="text" class="inputField" id="email" name="email" placeholder="Email" required>
            </div>
            
            <div class="inputContainer">
                <label for="password">Mot de passe</label>
                <input type="password" class="inputField" id="password" name="password" placeholder="Mot de passe" required>
            </div>

            <button type="submit" id="loginButton" class="button">Se connecter</button>
        </form>
        {% if session.login_error %}
            <div id="loginError" class="error-message">{{ session.login_error }}</div>
        {% endif %}
        <div class="registerPrompt">
            <p>Pas encore inscrit ? <a href="/inscription">Créez un compte</a></p>
        </div>
    </div>

    
