<div class="search">
    <div class="searchBar">
        <label>
            <input type="search" name="searchInput" id="searchInput" placeholder="Rechercher...">
        </label>
    </div>

    <div class="results" id="results"></div>
</div>
