{% extends 'layout.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/home.css">
{% endblock %}

{% block javascript %}
<script defer src="/assets/javascript/home.js"></script>
{% endblock %}

{% block content %}
{% include 'Base/_search.html.twig' %}

<main>
    
            <section class="caroussel">

                <button class="fleche" id="fleche_gauche">
                    &#8249;
                </button>

                <button class="fleche" id="fleche_droite">
                    &#8250;
                </button>
                <ul class="slides_container" id="slides_container">
                    <li class="slide">
                        <h2>Dernier livre</h2>
                        <img class="slide_picture" src="/assets/images/{{ carrouselImg.0.picture }}" alt=>
                    </li>
                    <li class="slide">
                        <h2>Derniere musique</h2>
                        <img class="slide_picture" src="/assets/images/{{ carrouselImg.1.picture }}" alt=>
                    </li>
                    <li class="slide">
                        <h2>Derniere video</h2>
                        <img class="slide_picture" src="/assets/images/{{ carrouselImg.2.picture }}" alt=>
                    </li>
                </ul>
            </section>

            <article class="article recommandations">
                <h2>RECOMMANDATIONS</h2>
                <ul>
                    <li><img class="article_img" src="/assets/images/echoes_of_the_eye.jpg" alt=""></li>
                    <li><img class="article_img" src="/assets/images/echoes_of_the_eye.jpg" alt=""></li>
                    <li><img class="article_img" src="/assets/images/echoes_of_the_eye.jpg" alt=""></li>
                </ul>
                <h3 class="button">Voir plus</h3>
            </article>

            <article class="article populaire">
                <h2>POPULAIRE</h2>
                <ul>
                    <li><img class="article_img" src="/assets/images/echoes_of_the_eye.jpg" alt=""></li>
                    <li><img class="article_img" src="/assets/images/echoes_of_the_eye.jpg" alt=""></li>
                    <li><img class="article_img" src="/assets/images/echoes_of_the_eye.jpg" alt=""></li>
                </ul>
                <h3 class="button">Voir plus</h3>
            </article>

            <article class="article informations">
                <h2>INFORMATIONS</h2>
                <ul>
                    <li><h6>HORAIRES</h6></li>
                    <li><p>9h-18h</p></li>
                    <li><h6>ADRESSE</h6></li>
                    <li><p>123 Rue Wild School Code</p></li>
                    <li><p>59000 Lille</p></li>
                </ul>

            </article>
</main>


{% endblock %}