{% extends 'layout.html.twig' %}

{% block title %}{{ media.title }}{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/show.css">
{% endblock %}
{% block page_title %}
    <h1>{{ media.title }}</h1>
{% endblock %}

{% block content %}
    
{% endblock %}