/* Style pour le header */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

/* Conteneur principal pour le contenu du header */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Style pour le logo */
.logo img {
    height: 50px; /* Ajustez la taille du logo selon vos besoins */
}

/* Positionnement relatif du nav */
nav {
    position: relative;
}

/* Style de l'icône du menu pour les petits écrans */
.menu-icon {
    display: none;
    font-size: 26px;
    cursor: pointer;
}

/* Style pour la liste de navigation */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

/* Style pour les éléments de la liste de navigation */
nav ul li {
    margin-left: 20px;
}

/* Style pour les liens de navigation */
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

/* Style pour les liens de navigation au survol */
nav ul li a:hover {
    text-decoration: underline;
}

/* Styles pour la réactivité du header */
@media (max-width: 768px) {
    /* Ajustement de la flex-direction pour les petits écrans */
    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    /* Affichage du menu burger pour les petits écrans */
    .menu-icon {
        display: block;
    }

    /* Masquer la liste de navigation par défaut sur les petits écrans */
    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    /* Ajout de la marge pour les éléments de la liste sur les petits écrans */
    nav ul li {
        margin: 10px 0;
    }

    /* Afficher le menu lorsque la case à cocher est activée */
    #menu-toggle:checked + .menu {
        display: flex;
    }
}
