.caroussel {
    margin: 1rem auto;
    position: relative;
    overflow: hidden;
    max-width: 80%;
}

.slides_container {
    width: 100%;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 100%;
    text-align: center;
}

.slide_picture {
    max-width: 60vw;
    max-height: 65vh;
    width: 100%;
    height: auto;
    cursor: pointer;
}

.slides_container {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.slides_container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.fleche {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    font-size: 2rem;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.2s;
}

.fleche:hover,
.fleche:focus {
    opacity: 1;
}

#fleche_gauche {
    left: 0;
    padding-left: 0.25rem;
    border-radius: 0 1rem 1rem 0;
}

#fleche_droite {
    right: 0;
    padding-right: 0.25rem;
    border-radius: 1rem 0 0 1rem;
}


.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D9D9D9;
    list-style: none;
    border-radius: 15px;
    margin: 2rem auto;
    padding: 1rem;
    max-width: 80%;
}

.article>ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.article ul li {
    margin: 0 1rem;
}

.article_img {
    max-width: 20vw;
    max-height: 20vh;
    width: 100%;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s;
}

.article_img:hover {
    transform: scale(1.05);
}

.article h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
.article.informations {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
    border-radius: 15px;
    margin: 2rem auto;
    padding: 1rem;
    max-width: 80%;
}

.article.informations .info-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.article.informations .info-item {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
}

.article.informations .info-item:last-child {
    border-bottom: none;
}

.article.informations h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.article.informations .info-item h6 {
    font-weight: bold;
    margin-right: 1rem;
}

.article.informations .info-item p {
    margin: 0;
}
