.carousel {
    margin: 30px auto auto;
    position: relative;
    overflow: hidden;
    height: auto;
    background: #F0F0F0; /* Updated background color */
    border-radius: 15px;
    max-width: 1200px;
    width: auto;
    padding: 10px;
}

.fleche {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 4rem;
    background-color: white;
    border: none;
    width: 2rem;
    font-size: 3rem;
    padding: 0;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 100ms;
    z-index: 1000;
}

.fleche:hover {
    opacity: 1;
}

#fleche_gauche {
    left: 0;
    padding-left: 0.25rem;
    border-radius: 0 2rem 2rem 0;
}

#fleche_droite {
    right: 0;
    padding-left: 0.75rem;
    border-radius: 2rem 0 0 2rem;
}

@media (max-width: 768px) {
    .fleche {
        display: none;
    }
}

.slider-indicators {
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}

@media (max-width: 768px) {
    .slider-indicators {
        display: flex;
    }
}

.indicator {
    height: 10px;
    width: 10px;
    background: var(--secondaryColor);
    border-radius: 50%;
    margin: 0 2px;
    cursor: pointer;
}

.slider-indicators .indicator.active {
    background: var(--tertiaryColor); /* Change this color according to your style */
}

.slides_container {
    width: 100%;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: scroll;
    scroll-behavior: smooth;
}

.slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 100%;
}

.slide_picture {
    max-width: 100%;
    max-height: 45vh;
    height: 100%;
    width: auto;
    box-sizing: border-box;
}

/* Remove scroll bar */
.slides_container {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.slides_container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F0; /* Updated background color */
    list-style: none;
    border-radius: 15px;
    max-width: 1200px;
    width: auto;
    margin: 30px auto auto;
    padding: 10px;
}

.article > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    display: inline;
    position: relative;
}

.info {
    position: absolute;
    bottom: 1.2vh;
    background: var(--quaternaryColor);
    filter: opacity(0.9);
    border-radius: 10px;
    padding: 10px;
}

@media (max-width: 768px) {
    .info {
        bottom: 0.2vh;
    }
}

.info h3 {
    color: var(--secondaryColor);
    margin-top: 0;
}

@media (max-width: 768px) {
    .info h3 {
        font-size: 16px;
    }
}

.info p {
    margin: 0 0 5px;
    color: var(--secondaryColor);
}

@media (max-width: 768px) {
    .info p {
        font-size: 13px;
    }
}

.article_img {
    max-width: 30vw;
    max-height: 50vh;
}

.button {
    background-color: #D8ECF7;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
}

.informations {
    margin-bottom: 30px;
}
