/* Style pour la page d'inscription */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f8f9fd;
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(244, 247, 251) 100%);
}

.form-wrapper {
    background: #fff;
    border-radius: 40px;
    padding: 45px 95px;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form-title {
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    color: rgb(16, 137, 211);
    margin-bottom: 20px;
}

.input-container {
    position: relative;
    margin-bottom: 20px;
}

.label-title {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: rgb(16, 137, 211);
}

.inputField {
    width: 100%;
    background: white;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 15px;
    box-shadow: #cff0ff 0px 10px 10px -5px;
    border-inline: 2px solid transparent;
}

.inputField::-moz-placeholder {
    color: rgb(170, 170, 170);
}

.inputField::placeholder {
    color: rgb(170, 170, 170);
}

.inputField:focus {
    outline: none;
    border-inline: 2px solid #12b1d1;
}

.submit {
    display: block;
    width: 100%;
    font-weight: bold;
    background: linear-gradient(45deg, rgb(16, 137, 211) 0%, rgb(18, 177, 209) 100%);
    color: white;
    padding-block: 15px;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
    border: none;
    transition: all 0.2s ease-in-out;
}

.submit:hover {
    transform: scale(1.03);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 23px 10px -20px;
}

.submit:active {
    transform: scale(0.95);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 15px 10px -10px;
}

.register-link {
    text-align: center;
    margin-top: 20px;
    color: rgb(16, 137, 211);
}

.register-link a {
    color: rgb(16, 137, 211);
    text-decoration: none;
    font-weight: bold;
}

.register-link a:hover {
    text-decoration: underline;
}

.error {
    color: red;
    text-align: center;
    margin-bottom: 20px;
}
