/* Style pour la page de connexion */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f8f9fd linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(244, 247, 251) 100%);
}

.login-box {
    background: white;
    padding: 45px 95px;
    border-radius: 20px;
    border: 1px solid #ddd;
    box-shadow: rgba(133, 189, 215, 0.878) 0px 10px 20px -10px;
    text-align: center;
}

.login-box h2 {
    font-weight: 900;
    font-size: 30px;
    color: rgb(16, 137, 211);
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-input-container {
    position: relative;
    margin-bottom: 20px;
}

.login-input {
    width: 100%;
    background: white;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 10px;
    box-shadow: #cff0ff 0px 5px 10px -5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.login-input::placeholder {
    color: rgb(170, 170, 170);
}

.login-input:focus {
    outline: none;
    border: 2px solid #12b1d1;
}

.login-button {
    display: block;
    width: 100%;
    font-weight: bold;
    background: linear-gradient(45deg, rgb(16, 137, 211) 0%, rgb(18, 177, 209) 100%);
    color: white;
    padding: 15px;
    margin: 20px 0;
    border-radius: 20px;
    box-shadow: rgba(133, 189, 215, 0.878) 0px 20px 10px -15px;
    border: none;
    transition: all 0.2s ease-in-out;
}

.login-button:hover {
    transform: scale(1.03);
    box-shadow: rgba(133, 189, 215, 0.878) 0px 23px 10px -20px;
}

.login-button:active {
    transform: scale(0.95);
    box-shadow: rgba(133, 189, 215, 0.878) 0px 15px 10px -10px;
}

/* Style pour le message d'erreur */
.login-error-message {
    color: rgb(202, 106, 106);
    margin-top: 20px;
}

/* Style pour l'invite d'inscription */
.login-register-prompt {
    margin-top: 20px;
}

.login-register-prompt a {
    color: rgb(16, 137, 211);
    text-decoration: none;
    font-weight: bold;
}

/* Modal styles */
.error-modal {
    display: none; /* Hidden by default, will be shown with JavaScript */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.error-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
