.header h1 {
    text-align: center;
    font-size: 50px;
    color: var(--quaternaryColor);
}

/* Style pour les filtres */
.filters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.chip {
    background-color: #cfe8e4;
    border-radius: 16px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.chip:hover {
    background-color: #b0d4d0;
}

/* Style pour les cartes */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin: 0 20px 30px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fdfdfd;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    padding-bottom: 15px;
    max-width: 400px;
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card h2 {
    font-size: 18px;
    margin: 15px;
    color: #4a4a4a;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card .categories {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 0 15px;
    margin-bottom: 15px;
}

.card .category {
    background-color: #e7f1f1;
    border-radius: 12px;
    padding: 5px 10px;
    font-size: 12px;
}

.card .btn {
    align-self: stretch;
    background-color: #a4c3b2;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0 15px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.card .btn:hover {
    background-color: #8bb198;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
