/* General Container */
.container2 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* Title styles (h1) */
h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 32px;
    color: #251565;
}

/* Section Titles (h2) */
h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #251565;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

table th {
    background-color: #f8faf6;
}

table td.options {
    text-align: center;
}

button {
    background-color: #5f599f;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 5px;
}

button:hover {
    background-color: #000000;
}

.btn-orange {
    background-color: orange;
    color: white;
    cursor: not-allowed;
}
.btn-accept {
    background-color: green;
    color: white;
    cursor: pointer;
}
.btn-delete {
    background-color: red;
    color: white;
    cursor: pointer;
}
.btn-delete.disabled {
    background-color: grey;
    cursor: not-allowed;
}



a.reservationMedia{
    text-decoration: none;
    color: black;
}

a.reservationMedia:hover {
    color: var(--quaternaryColor);
}