.media-details {
    display: flex;
    flex-direction: row;
    max-width: 800px;
    margin: 30px auto;
    padding: 10px;
    border: 5px double var(--primaryColor);
    border-radius: 10px;
    background-color: var(--secondaryColor);
    box-shadow: 0 0 10px 2px var(--primaryColor);

    & .picture {
        margin-right: 20px;

        & img {
            max-height: 400px;
        }
    }

    & .media-info {
        color: var(--tertiaryColor);

        & .button {
            display: flex;
            margin-top: 50px;

            & a, input {
                padding: 10px 20px;
                text-decoration: none;
                color: var(--secondaryColor);
                border-radius: 5px;
                border: none;
                cursor: pointer;
            }

            & .edit {
                background: green;
                margin-right: 20px;
            }

            & .delete {
                padding: 13px 20px;
                background: red;
            }
        }
    }
}
