.container2 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

h1 {
    text-align: center;
    font-size: 32px;
    color: #251565;
    margin-top: 20px;
}

h2 {
    text-align: center;
    font-size: 24px;
    color: #251565;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

table th {
    background-color: #f8faf6;
}

table td.options {
    text-align: center;
}

.options form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

input[type="number"] {
    width: auto;
    padding: 8px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

input[type="number"]:focus {
    border-color: #5f599f;
    outline: none;
}

.modify-stock-btn {
    background-color: #5f599f;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px;
}

.modify-stock-btn:hover {
    background-color: #000000;
}

.filter-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.filter-container input[type="text"], .filter-container select {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: #f8faf6;
}

.filter-container select:focus, .filter-container input[type="text"]:focus {
    border-color: #5f599f;
    outline: none;
}

.filter-container button {
    padding: 8px 16px;
    border: none;
    background-color: #5f599f;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-container button:hover {
    background-color: #000000;
}

.search-form {
    display: flex;
    align-items: center;
    gap: 10px;
}

a.stockMedia {
    text-decoration: none;
    color: black;
}

a.stockMedia:hover {
    color: var(--quaternaryColor);
}
